body.pic {
    background-image:url('images/billiards.jpg');
}
body.colour {
    background-color: lightgreen;
}
h1 {
    font-weight: bold;
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
h5 {
    font-weight: bold;
    text-decoration: underline;
}
image {
    width: 364px;
    height: 219px;
}
table {
    text-align: center;
}
table.adj1 {
    table-layout: auto;
    width: 100%;
}
table.adj2 {
    table-layout: auto;
    width: 100%;
    font-size:12px;
}
.eight {
    font-size:12px;
}
.top2 {
    font-weight: bold;
    font-style: italic;
}
.aqua {
    color: aqua;
}
.darkred {
    color: darkred;
}
.darkblue {
    color: darkblue;
}
.red {
    color: red;
}
.darkgrey {
    font-weight: bold;
    color: darkgrey;
}
.grey {
    font-weight: bold;
    color: grey;
}
.coral {
    color: coral;
}
.yellowgreen {
    color: yellowgreen;
}
.orange {
    color: orange;
}
.plum {
    color: plum;
}
.purple {
    color: purple
}
.yellow {
    color: yellow;
}
.white {
    color: white;
}
.green {
    color: rgb(17, 230, 17);
}
.black {
    color: black;
}
.lightblue {
    color: rgb(72, 129, 235);
}
.blue {
    color: rgb(0, 255, 255);
}
.pink {
    color:lightpink;
}
.six {
    font-size:6vw;
}
.five {
    font-size:5vw;
}
.four {
    font-size:4vw;
}
.three {
    font-size:3vw;
}
.two {
    font-size:2vw;
}
.one {
    font-size:1vw;
}
.middle {
    text-align: center;
}
.strike {
    text-decoration: line-through;
}
input {
    width: 200px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: black;
    height: 40px;
}